BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
BinPackParameters: false        
AlwaysBreakAfterReturnType: None   

MaxEmptyLinesToKeep: 2   
KeepEmptyLinesAtTheStartOfBlocks: false